#app.py requirements
streamlit
langchain
langchain-groq 
langchain-openai
langchain-community
pinecone
pinecone-text
nltk==3.8.1
# #vector embeddings creation requirements
langchain-pinecone
pypdf

